{% extends 'base.html' %}

{% block head %}
    {{ JSGlue.include() }}
{% endblock %}

{% block content %}
    <form id="registerForm" action="" method="post">
        <legend> 欢迎注册 </legend>
        <fieldset class="form-group">
            <div class="form-group">
                <select id="province" name="province" class="form-control " >
                    <option value="">请选择省</option>
                </select>
            </div>
            <div class="form-group">
                <select id="city" name="city" class="form-control " >
                    <option value="">请选择市</option>
                </select>
            </div>
            <div class="form-group">
                <select id="district" name="district" class="form-control " >
                    <option value="">请选择区/县</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="endpoint" name="endpoint" placeholder=" 请输入终端名称" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder=" 请输入姓名" >
            </div>
            <div class="form-group form-row">
                <div class="col-7 ">
                    <input type="text" class="form-control" id="phonenumber" name="phonenumber" placeholder=" 请输入手机号" >
                </div>

                <div class="col-5 ">
                    <button id="sendshortmessage" name="sendshortmessage" type="button" class="btn btn-primary ">发送验证码</button>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="validcode" name="validcode" placeholder=" 请输入验证码" >
            </div>
            <div class="form-group">
                <select id="gender" name="gender" class="form-control " >
                    <option value="">请选择性别</option>
                    <option value="1">女</option>
                    <option value="2">男</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="weichatid" name="weichatid" placeholder=" 请输入微信号">
            </div>
        </fieldset>
            <div>
                <button id="submitbutton" name="submitbutton" type="button" class="btn btn-block" >提交</button>
            </div>
    </form>
    <!-- Button trigger modal -->
     <!-- Modal -->
    <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">注册成功</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            欢迎您，好记星家人
          </div>
          <div class="modal-footer">
            <button type="button" id="closemodal" class="btn btn-primary" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block script %}
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.validate.min.js"></script>
    <script src="../static/js/additional-methods.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
{% endblock %}
