{% extends 'base.html' %}
{% block head %}
    <style>
    body {
      background: #FFA773;
    }
    form {
      width: 95%;
      margin: 30px auto;
      background: #efefef;
      padding: 30px 20px 30px 20px;
      -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
      box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    }
    #submit{
        background-color: #ff5f00;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
    }


    </style>
{% endblock %}

{% block content %}
    <form id="queryForm" action="" method="post" >
        {{ form.hidden_tag() }}
        <legend> 销售产品查询 </legend>
        <fieldset class="form-group">
            <div class="form-group form-row" >
                <div class="col-8">
{#                    {{ form.phonenumber.label(class="cols-sm-2 control-label") }}#}
                    {% if form.phonenumber.errors %}
                        {{ form.phonenumber(class='form-control is-invalid') }}
                        {% for error in form.phonenumber.errors %}
                            <div class="invalid-feedback">
                                 <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.phonenumber(class='form-control', placeholder="请输入手机号码") }}
                    {% endif %}
                </div>
                <div class="col-4 ">
                    <button type="button" class="btn btn-primary" id="sendcode" name="sendcode">发送验证码</button>
                </div>
            </div>
            <div class="form-group">
{#                {{ form.validcode.label(class="cols-sm-2 control-label") }}#}
                {% if form.validcode.errors %}
                    {{ form.validcode(class='form-control is-invalid') }}
                    {% for error in form.validcode.errors %}
                        <div class="invalid-feedback">
                             <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.validcode(class='form-control', placeholder="请输入验证码") }}
                {% endif %}
            </div>
            <div class="form-group">
{#                {{ form.startDate.label(class="cols-sm-2 control-label") }}#}
                {% if form.startDate.errors %}
                    {{ form.startDate(class='form-control is-invalid') }}
                    {% for error in form.startDate.errors %}
                        <div class="invalid-feedback">
                             <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.startDate(class='form-control datepicker', placeholder="请选择开始日期") }}
                {% endif %}
            </div>
            <div class="form-group">
{#                {{ form.endDate.label(class="cols-sm-2 control-label") }}#}
                {% if form.endDate.errors %}
                    {{ form.endDate(class='form-control is-invalid') }}
                    {% for error in form.endDate.errors %}
                        <div class="invalid-feedback">
                             <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                {% else %}
                    {{ form.endDate(class='form-control datepicker', placeholder="请选择结束日期") }}
                {% endif %}
            </div>
        </fieldset>
            <div >
                {{ form.submit(class='btn btn-block') }}
            </div>
    </form>




{% endblock %}
{% block script %}
    <script>

    $(function () {

        $('#startDate').datepicker({
            dateFormat: "yy-mm-dd"
        });
        $('#endDate').datepicker({
            dateFormat: "yy-mm-dd"
        });

        if ($('.navbar-nav.mr-auto').find('li.active').find('a').text() != "查询"){
            $('.navbar-nav.mr-auto').find('li.active').removeClass('active');
            $('[href="/sold_items/"]').parent('li').addClass('active');
        }

        $('#sendcode').click(function () {
            var phonenumber = $('#phonenumber').val();
            $('#validcode').empty();
            if (phonenumber == ''){
                $('#phonenumber').addClass("is-invalid");
                $('.col-8').append("<div class=\"invalid-feedback\">&ensp;请输入手机号</div>");

            }
            else{
                $('#phonenumber').removeClass("is-invalid");
                $('#phonenumber .invalid-feedback').remove();

                var url = "{{ url_for('validcode') }}";
                $.get(url, {phone:phonenumber, type:'query'}, function (data) {
                    if (data['code'] == 1003){
                        $('#phonenumber').addClass("is-invalid");
                        $('.col-8').append("<div class=\"invalid-feedback\">&ensp;此手机号没注册</div>");
                    }
                    else if (data['code'] == 1000){
                        countdown();
                    }
                });


            }

        });

         var timewait = 60;
        function countdown() {
            if (timewait == 0){
                $('#sendcode').attr({disabled: false});
                $('#sendcode').html('发送验证码');
                clearTimeout(countdown);
                timewait = 60;
            }
            else{
                $('#sendcode').attr({disabled: true});
                $('#sendcode').html(timewait + ' 秒...  ');
                timewait -- ;
                setTimeout(countdown, 1000);
            }
        }


    $.datepicker.regional['zh-CN'] = {
        clearText: '清除',
        clearStatus: '清除已选日期',
        closeText: '关闭',
        closeStatus: '不改变当前选择',
        prevText: '< 上月',
        prevStatus: '显示上月',
        prevBigText: '<<',
        prevBigStatus: '显示上一年',
        nextText: '下月>',
        nextStatus: '显示下月',
        nextBigText: '>>',
        nextBigStatus: '显示下一年',
        currentText: '今天',
        currentStatus: '显示本月',
        monthNames: ['一月','二月','三月','四月','五月','六月', '七月','八月','九月','十月','十一月','十二月'],
        monthNamesShort: ['一月','二月','三月','四月','五月','六月', '七月','八月','九月','十月','十一月','十二月'],
        monthStatus: '选择月份',
        yearStatus: '选择年份',
        weekHeader: '周',
        weekStatus: '年内周次',
        dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
        dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
        dayNamesMin: ['日','一','二','三','四','五','六'],
        dayStatus: '设置 DD 为一周起始',
        dateStatus: '选择 m月 d日, DD',
        dateFormat: 'yy-mm-dd',
        firstDay: 1,
        initStatus: '请选择日期',
        isRTL: false};
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);
    });





    </script>

{% endblock %}

